:root{
    --primaryColor:rgb(27, 182, 27);
    --primaryColor:black;
    --primaryColor:black;
}
body{
    display: border-box;
    background-image: url(/images/prtfBackground.jpg);
    background-size: cover;
    background-blend-mode:difference;
}