:root{
    --secondaryColor:black;
    --primaryColor:#4c8887;
    --accentColor:#FFD166;
    --headingfont:'Montserrat', sans-serif;
    --contentfont: "Lato", sans-serif;;
}

h1, h2, h3 {
    font-family: var(--headingfont)
}  
body{
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  font-family: var(--contentfont);
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primaryColor);
    border-bottom: 3px solid var(--accentColor);
}

.logo{
    display: flex;
    flex-direction: row;
    color: var(--accentColor);
}
.logo img {
    max-width: 50px;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 0;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline-block;
    margin-right: 30px;
}

.navigation ul li:last-child {
    margin-right: 0;
}

.navigation ul li a {
    text-decoration: none;
    color: var(--secondaryColor);
    font-weight: bold;
    transition: color 0.3s ease;
}

.navigation ul li a:hover {
    color: var(--accentColor);
}
main{
    border-bottom: 1px solid var(--accentColor);
}
/*all above code is for header



/*Below code is for footer style*/
/* Footer styles */
footer {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 16px;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: var(--secondaryColor);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: var(--secondaryColor);
}

.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}